# Node modules
node_modules/

# Build output
build/

# Dependency directories
.babelrc
.cache/

# Environment files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor directories
.idea/
.vscode/

# Testing coverage output
coverage/

# Miscellaneous files
*.log
